@import url("./Rain.css");

.App {
  text-align: center;
  font-family: courier, serif;
  color: white;
}

.headerContainer {
  margin-top: 20px;
  margin-bottom: 80px;
  max-width: 400px;
  min-width: 200px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footerContainer {
  margin-top: 20px;
  margin-bottom: 80px;
}

#pitch {
  color: white;
}

html {
  height: 100%;
}

body{
  background: #060711 !important;
  /* box-shadow: inset 0 0 400px #111111; */
  height: 100vh;
  overflow: hidden;
  position: relative;
}
